<div class="col">
    <div class="card h-100" data-aos="flip-up">
        <iframe width="100%" height="225" src="https://www.youtube.com/embed/SeOaGMsIsjo"
            title="9 Tips to Survive a Fire In a Hopeless Situation" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <div class="card-body">
            <p class="card-text">9 Tips to Survive a Fire In a Hopeless Situation</p>
            <small class="text-muted">8 mins</small>
        </div>
    </div>
</div>
<div class="col">
    <div class="card h-100" data-aos="flip-up">
        <iframe width="100%" height="225" src="https://www.youtube.com/embed/cnn-yvszLXE"
            title="Fire Safety Training" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <div class="card-body">
            <p class="card-text">Fire Safety Training</p>
            <small class="text-muted">12 mins</small>
        </div>
    </div>
</div>
<div class="col">
    <div class="card h-100" data-aos="flip-up">
        <iframe width="100%" height="225" src="https://www.youtube.com/embed/Q1Nw7JlxYMo"
            title="How to Fight Gas Cylinder Fire Outbreak | This Video Could Help Avert a Major Fire Disaster"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <div class="card-body">
            <p class="card-text">Watch the video to Avert a Major Fire Disaster</p>
            <small class="text-muted">3 mins</small>
        </div>
    </div>
</div>