<div class="col">
    <div class="card h-100" data-aos="flip-up">
        <iframe width="100%" height="225" src="https://www.youtube.com/embed/Hz8azAFjw_4"
            title="How to Handle a Medical Emergency? I Max Hospitals" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <div class="card-body">
            <p class="card-text">How to Handle a Medical Emergency?</p>
            <small class="text-muted">2 mins</small>
        </div>
    </div>
</div>
<div class="col">
    <div class="card h-100" data-aos="flip-up">
        <iframe width="100%" height="225" src="https://www.youtube.com/embed/0m50_65kOsk"
            title="मेडिकल इमरजेंसी में क्या करे? 9 EASY WAYS TO HANDLE MEDICAL EMERGENCY SITUATIONS-HINDI|THE REHAB PRO"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <div class="card-body">
            <p class="card-text">9 Easy ways to handle Medical Emergency Situations</p>
            <small class="text-muted">5 mins</small>
        </div>
    </div>
</div>
<div class="col">
    <div class="card h-100" data-aos="flip-up">
        <iframe width="100%" height="225" src="https://www.youtube.com/embed/VJlxQgLR46g"
            title="Emergency patient care in hindi | How to handle injured patient" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <div class="card-body">
            <p class="card-text">Emergency patient care in hindi</p>
            <small class="text-muted">9 mins</small>
        </div>
    </div>
</div>