<div class="col">
    <div class="card h-100" data-aos="flip-up">
        <iframe width="100%" height="225" src="https://www.youtube.com/embed/LQdHjDrZZNk"
            title="Personal Robbery Prevention Tips" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <div class="card-body">
            <p class="card-text">Personal Robbery Prevention Tips</p>
            <small class="text-muted">2 mins</small>
        </div>
    </div>
</div>
<div class="col">
    <div class="card h-100" data-aos="flip-up">
        <iframe width="100%" height="225" src="https://www.youtube.com/embed/M6gAI6k2HkM"
            title="Prevent your phone from getting stolen! #shorts #mosttechy" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <div class="card-body">
            <p class="card-text">Prevent your phone from getting stolen!</p>
            <small class="text-muted">1 min</small>
        </div>
    </div>
</div>
<div class="col">
    <div class="card h-100" data-aos="flip-up">
        <iframe width="100%" height="225" src="https://www.youtube.com/embed/xe0Ii5hshJM"
            title="Thieves Explain How Not To Get Robbed" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <div class="card-body">
            <p class="card-text">Thieves Explain How Not To Get Robbed</p>
            <small class="text-muted">10 mins</small>
        </div>
    </div>
</div>