<div class="col">
    <div class="card h-100" data-aos="flip-up">
        <iframe width="100%" height="225" src="https://www.youtube.com/embed/J9lZ9OHdahg"
            title="5 things women can use for safety: BBC Hindi" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <div class="card-body">
            <p class="card-text">5 things women can use for safety: BBC Hindi</p>
            <small class="text-muted">5 mins</small>
        </div>
    </div>
</div>
<div class="col">
    <div class="card h-100" data-aos="flip-up">
        <iframe width="100%" height="225" src="https://www.youtube.com/embed/Wei_x4hz6iw"
            title="7 safety rules for girls -must watch!! लड़कियों की सुरक्षा के 7 ज़रूरी नियम"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <div class="card-body">
            <p class="card-text">7 safety rules for girls -must watch!!</p>
            <small class="text-muted">6 mins</small>
        </div>
    </div>
</div>
<div class="col">
    <div class="card h-100" data-aos="flip-up">
        <iframe width="100%" height="225" src="https://www.youtube.com/embed/KVpxP3ZZtAc"
            title="5 Self-Defense Moves Every Woman Should Know | HER Network" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <div class="card-body">
            <p class="card-text">5 Self-Defense Moves Every Woman Should Know</p>
            <small class="text-muted">10 mins</small>
        </div>
    </div>
</div>