/* header*/



@import url('https://fonts.googleapis.com/css2?family=BioRhyme&family=Lora:wght@700&family=Poppins:ital,wght@1,300&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=BioRhyme&family=Lora:wght@700&family=Poppins:ital,wght@1,300&display=swap');

/* *{
    margin:0;
    padding:0;
} */
body , html{
    height: 100%;
    /* overflow: hidden; */
}
*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
 .bgimage{
    background-image: url('headerbg.jpg');
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

}

.head {
    display: flex;
    justify-content: center;
    text-align: center;
    /* border:4px solid red;
    border-radius: 20px; */
    margin: -43% 1px;
    height: 30%;
    width: 100%;
    z-index: -1;

}
*{
    box-sizing: border-box;
}

span {
    position: absolute;
    font-size: 20px;
    margin: 158px 19px 30px 289px;
}

#clgname {

    display: flex;
    /* border:3px solid black;
    border-radius: 20px; */
    padding: 69px 35px;
    justify-content: center;
    text-align: center;
    font-size: 45px;
    /* color:white; */

}
#loginas{
    border: 0px solid white;
    border-radius: 20px;
    color: white;
    margin: 43px 638px;
    display: inline-block;
    padding: 1px 63px;
    position: absolute;
    top: 39%;
    background-color: #00000021;
}
#loginas:hover{
    color:rgb(102, 102, 128);
    transition: 1s;
    background-color: rgb(230, 203, 203);
 

}
#motto:after{
    color:rgb(102, 102, 128);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    bottom: 0;
    left:0;
    content:"";
    position: absolute;
}
#motto:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
.student:hover{
    color:rgb(102, 102, 128);
    transition: 0.6s ease-out;
    background-color: rgb(230, 203, 203);
    
 

}
.button{
    border:0px solid black;
    position: absolute;
    top: 60%;
    left: 32%;
}

.student{
    margin: 4px 8px;
    border: 0px solid white;
    border-radius: 20px;
    padding: 1px 38px;
    background-color: #00000021;
    font-size: 29px;
    color: white;
}
.container{
    
    /* background-color: red; */
    margin:auto;
    position:absolute;
    top:100%;
    background-color: black;
    width: 100vw;
    line-height: 1.5;
    font-family: 'BioRhyme', serif;
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;
    z-index: -1;
}
ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
    padding:13px
}
.footer{
    background-color: #24262b;
    padding:70px 0px;


}
.footercol{
    width:25%;
    padding:0 15px;

}
.footercol h4{
    font-size: 20px;
    color:#ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 20px;
    
}

/* .footercol h4::before{
    content:'';
    position: absolute;
    left:0;
    bottom:-10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
} */

.footercol ul li:not(:last-child){
    margin-bottom: 10px;

}
.footercol ul li a {
    font-size: 18px;
    text-transform: capitalize;
    color:#ffffff;
    text-decoration: none;
    font-weight: 10px;
    color:#bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footercol ul li a:hover{
    color:#ffffff;
    padding-left: 9px;
}
h4{
    transition: all 0.5s ease;
}

h4:hover{
    color:#bbbbbb;
    padding-left: 9px;
}
.footercol .social-links li a{
    display: inline-block;
    height: 40px;
    width: 40px;
    border:0px solid white;
    background-color: rgba(255,255,255,0.2,);
    margin-right: 19px;
    border-radius: 50px;
    color:#ffffff;
    transition: all 0.5s ease;
}

.footercol .social-links a:hover{
    color:#24262b;
    background-color: #ffffff;
}