* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    background-color: rgb(46, 44, 44);
    height: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: row;

}

.one {
    margin-left: 3vw;
    height: 17vh;
    border-radius: 30px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    align-self: center;
    z-index: 1;
    box-shadow: 10px yellowgreen;
    box-shadow: rgb(223, 98, 25) 0.3em 0.3em 0.3em;
    animation: flux 3s 1;
    animation-delay: 0ms;
    animation-direction: normal;
}

#fix {
    z-index: 2;
}

.slash {
    position: sticky;
    background-color: rgb(255, 179, 0);
    height: 10vh;
}

.list {
    font-size: larger;
    display: inline-block;
    margin-top: 30px;
    margin-left: 3rem;

}

li:hover {
    color: rgb(205, 210, 203);
}

.fox {
    position: relative;
    color: aliceblue;
    margin-left: 30vw;
    margin-top: 7vh;
    height: 5vw;

}

@keyframes flux {
    0% {
        border-radius: 30px;
    }

    100% {
        border-radius: 70px;
    }
}

.thirst {
    margin-left: 30vw;
    height: 10px;
    width: 70vw;
    border-radius: 4px;
    border: 2px solid rgb(220, 90, 90);
}

/* body{ 
    padding:0% 3% 10% 3%; 
    text-align:center; 

    } 

  

    button{ 
        cursor: pointer; 
        border: 1px solid #555; 
        text-align: center; 
        padding: 5px; 
        margin-left: 8px;  

    } 

    .dark{ 
        background-color: #222; 
        color: #e6e6e6; 

    } */
.fax {
    margin-left: 60vw;
}

.frost {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    height: 20vh;
    z-index: 2;
}

.track {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background: linear-gradient(135deg, red, purple);
}

.navigation {
    position: relative;
    height: 60px;
    width: 60px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.5s;
    transition-delay: 0.5s;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 10px rgba(0, 0, 0, 0.05);
}

.navigation .togglemenu {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #f00;
    border-radius: 50%;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    transition-delay: 0.5s;

}

.navigation.active {
    width: 600px;
}

.navigation.active .togglemenu {
    background-color: #ff4181;
    transition-delay: 0s;
    transform: translateY(60px);
    width: 30px;
    height: 30px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}

.navigation .togglemenu::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #333;
    transform: translate(-5px);
    transition: 0.5s;
}

.navigation .togglemenu::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #333;
    transform: translate(5px);
    transition: 0.5s;
    transition-delay: 0.5s;
}

.navigation.active .togglemenu::before {
    background-color: #fff;
    transform: translateY(0px) rotate(45deg) scale(0.6);
}

.navigation.active .togglemenu::after {
    background-color: #fff;
    transform: translateY(0px) rotate(315deg) scale(0.6);
}

.navigation li {
    list-style: none;
    transition: 0.5s;
    transform: scale(0);
}

.navigation.active li {
    transition-delay: 0.75s;
    display: flex;
    transform: scale(1);
}

.navigation li a {
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    padding: 5px 15px;
    border-radius: 20px;
    transition: 0.5s;
}

.navigation li a:hover {
    background-color: #ff4181;
    color: #fff;
}

.see {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(9, 7, 7);
    height: 100vh;
    z-index: 1;

}

#frame {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
}

#frame input[type=radio] {
    display: none;
}

#frame label {
    cursor: pointer;
    text-decoration: none;
}

#slides {
    padding: 10px;


    position: relative;
    z-index: 1;
}

#overflow {
    width: 100%;
    overflow: hidden;
}

#frame1:checked~#slides .inner {
    margin-left: 0;
}

#frame2:checked~#slides .inner {
    margin-left: -100%;
}

#frame3:checked~#slides .inner {
    margin-left: -200%;
}

#frame4:checked~#slides .inner {
    margin-left: -300%;
}

#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
}

#slides .frame {
    width: 25%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #FFF;
}



#slides .frame_2 {
    background: #F90;
}

#slides .frame_3 {
    background: #606;
}

#slides .frame_4 {
    background: #C00;
}

#controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
}

#controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
}

#controls label:hover {
    opacity: 1;
}

#frame1:checked~#controls label:nth-child(2),
#frame2:checked~#controls label:nth-child(3),
#frame3:checked~#controls label:nth-child(4),
#frame4:checked~#controls label:nth-child(1) {
    background:
        url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float: right;
    margin: 0 -50px 0 0;
    display: block;
}

#frame1:checked~#controls label:nth-last-child(2),
#frame2:checked~#controls label:nth-last-child(3),
#frame3:checked~#controls label:nth-last-child(4),
#frame4:checked~#controls label:nth-last-child(1) {
    background:
        url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float: left;
    margin: 0 0 0 -50px;
    display: block;
}

#bullets {
    margin: 150px 0 0;
    text-align: center;
}

#bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #ccc;
    margin: 0 10px;
}

#frame1:checked~#bullets label:nth-child(1),
#frame2:checked~#bullets label:nth-child(2),
#frame3:checked~#bullets label:nth-child(3),
#frame4:checked~#bullets label:nth-child(4) {
    background: #444;
}

@media screen and (max-width: 900px) {

    #frame1:checked~#controls label:nth-child(2),
    #frame2:checked~#controls label:nth-child(3),
    #frame3:checked~#controls label:nth-child(4),
    #frame4:checked~#controls label:nth-child(1),
    #frame1:checked~#controls label:nth-last-child(2),
    #frame2:checked~#controls label:nth-last-child(3),
    #frame3:checked~#controls label:nth-last-child(4),
    #frame4:checked~#controls label:nth-last-child(1) {
        margin: 0;
    }

    #slides {
        max-width: calc(100% - 140px);
        margin: 0 auto;
    }
}

#slides{
    
   
    /* width: 100vw; */
    /* object-fit: cover; */
}
.site {
    width: 40vw;

}

/* .see{
    display:flex;
    
} */
#frame{
    width:100vw;
}
.frame-content img{
    width:100vw;
}
.screen{
    margin-top: 30px;
    height: 20vhpx;
    width: 20vw;
    margin-left: 30px;
}
.dell{
    height: 40vh;
    width: 40vw;
    /* box-shadow:  0 10px aqua; */
    border: 4px solid rgb(242, 171, 29);
    border-radius: 10px;
}
    /* body {
        padding: 0px;
        margin: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    } */
    
    table {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-collapse: collapse;
        width: 800px;
        height: 200px;
        border: 1px solid #bdc3c7;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    }
    
    tr {
        transition: all .2s ease-in;
        cursor: pointer;
    }
    
    th,
    td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    
    #header {
        background-color: #16a085;
        color: #fff;
    }
    
    h1 {
        font-weight: 600;
        text-align: center;
        background-color: #16a085;
        color: #fff;
        padding: 10px 0px;
    }
    
    tr:hover {
        background-color: #f5f5f5;
        transform: scale(1.02);
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    }
    
    @media only screen and (max-width: 768px) {
        table {
            width: 90%;
        }
    }
.trace{
    display: flex;
}
.trigger{
margin-left: 20vw;
margin-top: 61vh;
border: 2px solid rgb(242, 171, 29);
border-radius: 20px;
background-color: #16a085;
width: 50vw;
}
.create{
    z-index: 10;
    font-weight: 800;
    border-radius: 20px;
}
.int{
    margin-left: 22vw;
    margin-top: 40vh;
    width:50vw;
    height: 37px;
    text-decoration: none;
    border-radius: 8px;
    border: solid ;
   background-color: #f3df08;
}
.third{
    background-color: #807b7b;
    height: 40vh;
    width: 42vw;
    margin-left: 2vw;
    border: 4px solid rgb(242, 171,29);
    border-radius: 10px;
}
.scratch{
    background-color: #333;
    display: flex;
}

.trick {
    width:60vw;
    height:60vw;
    
}
.image-thirst{
    margin-left: 3vw;
    border: 4px solid rgb(242, 171,29);
}
