<!-- bottom-container -->
<div class="bottom-container">
    <a href="#" target="_blank"><img class="footer-img"
        src="/images/facebook.png" alt="linkedin-logo-img"></a>
    <a href="#" target="_blank"><img class="footer-img"
            src="/images/logo.png" alt=""></a>
    <a href="#" target="_blank"><img class="footer-img" src="/images/instagram.png"
        alt="github-logo-img"></a>
    <p class="copyright">© 2023 Safe BIT.</p>
  </div>