<link rel="stylesheet" href="/css/styles.css">

<%- include('./partials/navbar.ejs') -%>
    
  <!-- top-container -->
  <div class="top-container">
    <div class="carousel">

    </div>
  </div>

  <!-- middle-container -->
    <div>
          <h2> Our Services</h2>
          <div class="services-row">
            <img class="img-service" src="/images/sms.png" alt="sms-img">
            <h3>Emergency SMS</h3>
            <p>Stuck in an emergency situation and having problem in speaking out your issue? Get instant help by answering a few simple questions.</p>
          </div>
          <div class="services-row">
            <img class="img-service-call" src="/images/call.png" alt="call-img">
            <h3>Emergency Calls (SOS)</h3>
            <p>Call and rescue yourself from threat.</p>
          </div>
          <div class="services-row">
            <img class="img-service" src="/images/video.png" alt="video-img">
            <h3>Videos Services</h3>
            <p>Watch short videos on our website and get aquainted to the steps to find solution when stuck in an unsafe situation in the campus.</p>
          </div>
        </div>
        <hr>
        <a name="contact">
        <div>
          <a class="btn" href="/sos/emerg" target="_blank">HELP & SUPPORT</a>
        </div>
      </div>

      <%-include('./partials/footer.ejs')-%>