    <!-- Custom styles for this template -->
    <link href="/css/styles.css" rel="stylesheet">


    <main class="form-signin">
        <form action="/login" method="post">
            <img class="mb-4" src="/images/logo.png" alt="logo-img" width="100" height="100">
            <h1 class="h3 mb-3 fw-normal">login</h1>

            <div class="form-floating">
                <div class="form-floating">
                    <input name="email" type="email" class="form-control top" id="floatingInput"
                        placeholder="Name" required>
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating">
                    <input name="password" type="password" class="form-control middle" id="floatingInput"
                        placeholder="Password" required>
                    <label for="floatingInput">Password</label>
                </div>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
            <p class="mt-5 mb-3 text-muted">&copy; SafeBIT 2023</p>
        </form>
    </main>
<a href="/page/signup">already have an account?</a>